<html>
  <head>
    <link href="./static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script type="text/javascript" src="./static/js/jquery-1.9.1.min.js" ></script>
    <script type="text/javascript" src="./client/branches.js" ></script>
    <div class="row">
      <div class="span4">
        <a class="btn btn-danger">Refresh</a>
      </div>
      <div class="span8">
        <table id="branches" class="table table-stripe table-bordered">
          <th>
            <td>foo</td>
            <td>baa</td>
          </th>
        </table>
      </div>
    </div>
  </body>
</html>